.block {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.2em;
    min-height: 2em;
    justify-content: center;
    flex: 1;
    align-items: stretch;
    background: linear-gradient(to bottom, #fff, #ddd);
    border-radius: 0.5em;
}
.block.splitblock {
    flex-direction: row;
    background: none;
    border: none;
}
.block.blockset {
    background: none;
}
.block.dragsource {
    display: none;
}
.block.dragbox {
    opacity: 0.5;
    position: absolute;
    z-index: 1000;
}
.block.droptarget {
    margin-bottom: 2em;
    border-bottom: 5px dashed #ccf;
}
.block.blockset.droptarget {
    margin-bottom: unset;
    border-bottom: 1px solid #ddd;
}
.block.blockset.droptarget > .title {
    margin-bottom: 2em;
    border-bottom: 5px dashed #ccf;
}
.block>.editbtn {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    text-decoration: none;
    text-shadow: 0 0 #ccc;
    color: transparent;
}
.block .title {
    font-weight: bold;
}
.block .desc {
    font-style: italic;
    color: #888;
    font-size: 0.8em;
}
#trash {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 10em;
    background: #888;
    border-radius: 1em;
    width: 6em;
    height: 6em;
    left: calc((100% - 6em) / 2);
}
#trash.visible {
    display: block;
    opacity: 0.8;
}
#trash.visible.droptarget {
    background: #f88;
}

#toolbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25em;
    background: linear-gradient(to top, #fed, #fff8f0);
}

#toolbox a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
    transition: color 0.1s, background 0.1s, border 0.1s;
}
#toolbox a:hover {
    background: #ddd;
}
#toolbox a:active {
    background: #999;
}
.toolbar {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    gap: 0.2em;
    margin-bottom:0.5em;
    border-bottom: 1px solid #888;
}

.toolbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
    transition: color 0.1s, background 0.1s, border 0.1s;
}
.toolbar a:hover {
    background: #ddd;
}
.toolbar a:active {
    background: #999;
}

.toolbar a.selected {
    background: #999;
    color: #fff;
}

main {
    position: fixed;
    left: 25em;
    width: calc(100% - 25em);
    height: calc(100% - 9em);
}

.modal {
    z-index: 100;
    width: auto;
    max-width: 100vw;
}
.modal section {
    display: flex;
    flex-direction: column;
}
.modal ul {
    display: inline-table;
}
.modal > ul {
    padding-left: 0;
}
.modal li {
    display: table-row;
    list-style: none;
    margin: 0;
}
.modal li>label {
    display: table-cell;
    font-size: 0.8em;
    font-weight: bold;
    padding-right: 0.5em;
}
.modal li>input, 
.modal li>select {
    font-family: monospace, monospace;
    font-size: 1em;
}

.logPanel {
    width: 100%;
    padding: 1em;
    overflow-y: scroll;
    font-family: monospace, monospace;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    height: 10%;
    z-index: 101;
}
.logPanel .err,
.logPanel .stream3 {
    color: #f33;
}
.logPanel .stream0 {
    color: #8f8;
}
.logPanel > .logPanel_clear_button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
}