.block {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.2em;
    min-height: 2em;
    justify-content: center;
    flex: 1;
    align-items: stretch;
    background: linear-gradient(to bottom, #fff, #ddd);
    border-radius: 0.5em;
    transition: padding 0.1s, margin 0.1s, background 0.2s;
}
.block:hover {
    background: #ccc;
}
.block.split-block {
    overflow: auto;
}
.block.splits-container {
    flex-direction: row;
    background: none;
    border: none;
}
.block.split-add-block{
    flex: 5em 0 0;
}
.block.split-add-block::before {
    content: url("/static/img/add_black_24dp.svg");
}
.block.block-set {
    background: none;
    min-height: 4em;
    justify-content: start;
    margin-bottom: 0.8em;
}
.block.dragsource {
    display: none;
}
.block.dragbox {
    opacity: 0.5;
    position: absolute;
    z-index: 1000;
    min-width: 35%;
}
.block.droptarget {
    margin: 2em 0 2em 0;
    padding: 1em 0 1em 0;
}
/* .block.dropinto {
    background: linear-gradient(to bottom, #ddf, #aad);
}
.block.dropafter {
    margin-bottom: 2em;
    border-bottom: 5px dashed #ccf;
}
.block.block-set.dropafter {
    margin-bottom: unset;
    border-bottom: 1px solid #ddd;
}
.block.block-set.dropafter > .title {
    margin-bottom: 2em;
    border-bottom: 5px dashed #ccf;
} */
.block>.editbtn {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    text-decoration: none;
    text-shadow: 0 0 #ccc;
    color: transparent;
}
.block .title {
    font-weight: bold;
}
.block .desc {
    font-style: italic;
    color: #888;
    font-size: 0.8em;
}
.block.comment-block {
    text-align: left;
    background: none;
    padding: 0 5px;
}
.block.comment-block .comment {
    font-family: monospace, monospace;
    border: none;
}
.markup {
    border-radius: 0.5em;
    width: 80%;
    color: #fff;
    margin: 0.3em 10%;
}
.select-block {
    background: #eff;
    border: 1px solid #cee;
}
.error-block {
    border: 3px solid #f22;
}
.error-block .markup {
    background: #f22;
}
.working-block {
    border: 3px solid #8af;
    z-index: 100;
}
.working-block .markup {
    background: #8af;
}
.droppos {
    position:absolute;
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    background: #cef;
    opacity: 0.5;
    cursor: url("/static/img/add_black_24dp.svg"), auto;
}
.droppos-left {
    left: 1em;
    top: 0;
    height: 100%;
}
.droppos-right {
    right: 1em;
    top: 0;
    height: 100%;
}
.droppos-before {
    top: -2em;
    left: calc(50% - 4em);
    width: 8em;
}
.droppos-after {
    bottom: -2em;
    left: calc(50% - 4em);
    width: 8em;
}
.droppos-into {
    bottom: calc(50% - 1em);
    left: calc(50% - 4em);
    width: 8em;
}
.trash {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 10em;
    background: #888;
    border-radius: 1em;
    width: 6em;
    height: 6em;
    left: calc((100% - 6em) / 2);
}
.trash.visible {
    display: block;
    opacity: 0.8;
}
.trash.dropinto {
    background: #f88;
}
