.edit-dialog h2 {
    font-size: 1.2em;
    font-style: italic;
    margin: 0;
}
.edit-dialog h3 {
    display: none;
}
.edit-dialog section {
    display: flex;
    flex-direction: column;
}
.edit-dialog ul {
    display: flex;
    flex-direction: column;
}
.edit-dialog > ul {
    padding-left: 0;
}
.edit-dialog li {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}
.edit-dialog .name-label {
    font-size: 0.8em;
    font-weight: bold;
}
.edit-dialog .desc-label {
    font-size: 0.7em;
    font-style: italic;
    color: #777;
}
.edit-dialog li>input, 
.edit-dialog li>select {
    font-family: monospace, monospace;
    font-size: 1em;
    display: table-cell;
    width: 100%;
}
.edit-dialog input.invalid-val,
.edit-dialog textarea.invalid-val {
    color: red;
}