.plot-dialog, .plot-traces, .plot-traceline {
    display: flex;
    flex-direction: column;
}
.plot-traceline {
    padding-top: 1em;
    border-top: 1px solid #888;
    margin-top: 1em;
}
.plot-trace-rm {
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.2em;
    text-decoration: none;
    transition: color 0.1s, background 0.1s, border 0.1s;
    text-align: center;
}
.plot-dialog span {
    display: flex;
    flex-direction: column;
}